.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--color-primary);

    background: var(--background-tertiary);
}

.form {

    background: var(--background-primary);
    width: clamp(250px, 85%, 350px);
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 10px 2px;
}

.input {
    width: 100%;
    outline: none;

    height: 35px;
    padding: 4px;
    border-radius: 3px;

    background: var(--background-primary);
    border: var(--border-primary) 1px solid;
    color: var(--color-primary);
}

.button {
    outline: none;
    border: none;
    height: 25px;
    padding: 4px 16px;
    background: var(--accent-color);
    color: var(--color-primary);
    font-weight: 550;
    border-radius: 5px;
    font-size: .75rem;
}
.button:active{
    transform: scale(.95);
}
.button:disabled{
    color: var(--color-quaternary);
    background: var(--background-secondary);
}
.field {
    padding: 4px 0;
    display: grid;
    gap: 4px;
    justify-items: flex-end;

}

.field > label {
    width: 100%;
    font-weight: 550;
    font-size: .8rem;
}

.smallButton {
    outline: none;
    border: none;

    background: transparent;
    color: var(--color-primary);
    font-size: .65rem;
    border-radius: 5px;
}
.smallButton:disabled{
    color: var(--color-quaternary) !important;
    cursor: default;
}
.smallButton:active{
    color: var(--accent-color);
}
@keyframes pop {
    0% {

    }
    100% {

    }
}